{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Origination API"
  },
  "host": "lmsdemo1.temenos.comhttp",
  "basePath": "//lmsdemo1.temenos.com/LendingAPI/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/api/v{version}/application/{ApplicationIdentifier}": {
      "get": {
        "tags": [
          "Application"
        ],
        "summary": "Returns the details of the requested Application.  Returns an error if the Application is not found.",
        "operationId": "Application_GetObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiApplicationResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Application"
        ],
        "summary": "Updates the details of an existing Application.  Use the optional SaveOptions properties to control if the applicant should be updated during Save.  Returns an error if the Application is not found.  Returns warnings if any fields are not in the correct format.",
        "operationId": "Application_PutObject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Applications.Application"
            }
          },
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Core.PublicApi.v1.Service.ApiResult"
            }
          }
        }
      }
    },
    "/api/v{version}/application": {
      "post": {
        "tags": [
          "Application"
        ],
        "summary": "Creates a new Application.  Use the optional SaveOptions properties to control if the applicant should be updated during Save.  Returns warnings if any fields are not in the correct format.",
        "operationId": "Application_PostObject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Applications.Application"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Core.PublicApi.v1.Service.ApiSaveResult"
            }
          }
        }
      }
    },
    "/api/v{version}/ApplicationAccountNumber/ApplicationGetNextLoanNumber": {
      "post": {
        "tags": [
          "ApplicationAccountNumber"
        ],
        "summary": "Get Next Loan Account Number",
        "operationId": "ApplicationAccountNumber_PostNextLoanNumber",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Request",
            "in": "body",
            "description": "ApplicationId to get Next Loan Number.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiApplicationGetNextLoanAccountNumberRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiApplicationGetNextLoanAccountNumberResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/ApplicationAccountNumber/ApplicationGetNextDepositAccountNumber": {
      "post": {
        "tags": [
          "ApplicationAccountNumber"
        ],
        "summary": "Get Next Account Product Account Number",
        "operationId": "ApplicationAccountNumber_PostNextDepositAccountNumber",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Request",
            "in": "body",
            "description": "ApplicationId to get account product account number.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiApplicationGetNextDepositAccountNumberRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiApplicationGetNextDepositAccountNumberResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/accountproducts/{ApplicationAccountProductId}": {
      "get": {
        "tags": [
          "ApplicationAccountProducts"
        ],
        "summary": "Returns the details of the requested AccountProducts record on the Application.  Returns an error if the AccountProducts record is not found.",
        "operationId": "ApplicationAccountProducts_GetObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicationAccountProductId",
            "in": "path",
            "description": "The Id of the AccountProducts record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiApplicationAccountProductResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ApplicationAccountProducts"
        ],
        "summary": "Updates the details of an existing AccountProducts record on the Application.  Returns an error if the AccountProducts record is not found.  Returns warnings if any fields are not in the correct format.",
        "operationId": "ApplicationAccountProducts_PutObject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Applications.ApplicationAccountProduct"
            }
          },
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicationAccountProductId",
            "in": "path",
            "description": "The Id of the AccountProducts record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Core.PublicApi.v1.Service.ApiResult"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ApplicationAccountProducts"
        ],
        "summary": "Deletes an existing AccountProducts record from the Application.  Returns an error if the AccountProducts record is not found.",
        "operationId": "ApplicationAccountProducts_DeleteObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicationAccountProductId",
            "in": "path",
            "description": "The Id of the AccountProducts record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Core.PublicApi.v1.Service.ApiResult"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/accountproducts": {
      "get": {
        "tags": [
          "ApplicationAccountProducts"
        ],
        "summary": "Returns the details of all AccountProducts records on the Application.  Returns empty if no AccountProducts found.",
        "operationId": "ApplicationAccountProducts_GetListObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiListApplicationAccountProductResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "ApplicationAccountProducts"
        ],
        "summary": "Creates a new AccountProducts record on the Application.  Returns an error if the parent record is not found.  Returns warnings if any fields are not in the correct format.",
        "operationId": "ApplicationAccountProducts_PostObject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Applications.ApplicationAccountProduct"
            }
          },
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Core.PublicApi.v1.Service.ApiSaveResult"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/accountproducts/applicantmappings/{ApplicationAccountProductApplicantId}": {
      "get": {
        "tags": [
          "ApplicationAccountProductsApplicantMappings"
        ],
        "summary": "Returns the details of the requested ApplicantMappings record on the Application.  Returns an error if the ApplicantMappings record is not found.",
        "operationId": "ApplicationAccountProductsApplicantMappings_GetObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicationAccountProductApplicantId",
            "in": "path",
            "description": "The Id of the ApplicantMappings record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiApplicationAccountProductApplicantResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ApplicationAccountProductsApplicantMappings"
        ],
        "summary": "Updates the details of an existing ApplicantMappings record on the Application.  Returns an error if the ApplicantMappings record is not found.  Returns warnings if any fields are not in the correct format.",
        "operationId": "ApplicationAccountProductsApplicantMappings_PutObject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Applications.ApplicationAccountProductApplicant"
            }
          },
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicationAccountProductApplicantId",
            "in": "path",
            "description": "The Id of the ApplicantMappings record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Core.PublicApi.v1.Service.ApiResult"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ApplicationAccountProductsApplicantMappings"
        ],
        "summary": "Deletes an existing ApplicantMappings record from the Application.  Returns an error if the ApplicantMappings record is not found.",
        "operationId": "ApplicationAccountProductsApplicantMappings_DeleteObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicationAccountProductApplicantId",
            "in": "path",
            "description": "The Id of the ApplicantMappings record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Core.PublicApi.v1.Service.ApiResult"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/accountproducts/{ApplicationAccountProductId}/applicantmappings": {
      "get": {
        "tags": [
          "ApplicationAccountProductsApplicantMappings"
        ],
        "summary": "Returns the details of all ApplicantMappings records on the Application.  Returns empty if no ApplicantMappings found.",
        "operationId": "ApplicationAccountProductsApplicantMappings_GetListObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicationAccountProductId",
            "in": "path",
            "description": "The Id of the AccountProducts record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiListApplicationAccountProductApplicantResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "ApplicationAccountProductsApplicantMappings"
        ],
        "summary": "Creates a new ApplicantMappings record on the Application.  Returns an error if the parent record is not found.  Returns warnings if any fields are not in the correct format.",
        "operationId": "ApplicationAccountProductsApplicantMappings_PostObject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Applications.ApplicationAccountProductApplicant"
            }
          },
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicationAccountProductId",
            "in": "path",
            "description": "The Id of the AccountProducts record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Core.PublicApi.v1.Service.ApiSaveResult"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/accountproducts/documentversions/{AccountProductDocumentVersionId}": {
      "get": {
        "tags": [
          "ApplicationAccountProductsDocumentVersions"
        ],
        "summary": "Returns the details of the requested DocumentVersions record on the Application.  Returns an error if the DocumentVersions record is not found.",
        "operationId": "ApplicationAccountProductsDocumentVersions_GetObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "AccountProductDocumentVersionId",
            "in": "path",
            "description": "The Id of the DocumentVersions record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiApplicationAccountProductDocumentVersionResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/accountproducts/{ApplicationAccountProductId}/documentversions": {
      "get": {
        "tags": [
          "ApplicationAccountProductsDocumentVersions"
        ],
        "summary": "Returns the details of all DocumentVersions records on the Application.  Returns empty if no DocumentVersions found.",
        "operationId": "ApplicationAccountProductsDocumentVersions_GetListObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicationAccountProductId",
            "in": "path",
            "description": "The Id of the AccountProducts record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiListApplicationAccountProductDocumentVersionResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/accountproducts/documentversions/documents/{DocumentVersionDocumentId}": {
      "get": {
        "tags": [
          "ApplicationAccountProductsDocumentVersionsDocuments"
        ],
        "summary": "Returns the details of the requested Documents record on the Application.  Returns an error if the Documents record is not found.",
        "operationId": "ApplicationAccountProductsDocumentVersionsDocuments_GetObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "DocumentVersionDocumentId",
            "in": "path",
            "description": "The Id of the Documents record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiApplicationAccountProductDocumentVersionDocumentResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/accountproducts/documentversions/{AccountProductDocumentVersionId}/documents": {
      "get": {
        "tags": [
          "ApplicationAccountProductsDocumentVersionsDocuments"
        ],
        "summary": "Returns the details of all Documents records on the Application.  Returns empty if no Documents found.",
        "operationId": "ApplicationAccountProductsDocumentVersionsDocuments_GetListObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "AccountProductDocumentVersionId",
            "in": "path",
            "description": "The Id of the DocumentVersions record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiListApplicationAccountProductDocumentVersionDocumentResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/accountproducts/fees/{ApplicationAccountProductFeeId}": {
      "get": {
        "tags": [
          "ApplicationAccountProductsFees"
        ],
        "summary": "Returns the details of the requested Fees record on the Application.  Returns an error if the Fees record is not found.",
        "operationId": "ApplicationAccountProductsFees_GetObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicationAccountProductFeeId",
            "in": "path",
            "description": "The Id of the Fees record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiApplicationAccountProductFeeResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ApplicationAccountProductsFees"
        ],
        "summary": "Updates the details of an existing Fees record on the Application.  Returns an error if the Fees record is not found.  Returns warnings if any fields are not in the correct format.",
        "operationId": "ApplicationAccountProductsFees_PutObject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Applications.ApplicationAccountProductFee"
            }
          },
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicationAccountProductFeeId",
            "in": "path",
            "description": "The Id of the Fees record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Core.PublicApi.v1.Service.ApiResult"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ApplicationAccountProductsFees"
        ],
        "summary": "Deletes an existing Fees record from the Application.  Returns an error if the Fees record is not found.",
        "operationId": "ApplicationAccountProductsFees_DeleteObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicationAccountProductFeeId",
            "in": "path",
            "description": "The Id of the Fees record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Core.PublicApi.v1.Service.ApiResult"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/accountproducts/{ApplicationAccountProductId}/fees": {
      "get": {
        "tags": [
          "ApplicationAccountProductsFees"
        ],
        "summary": "Returns the details of all Fees records on the Application.  Returns empty if no Fees found.",
        "operationId": "ApplicationAccountProductsFees_GetListObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicationAccountProductId",
            "in": "path",
            "description": "The Id of the AccountProducts record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiListApplicationAccountProductFeeResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "ApplicationAccountProductsFees"
        ],
        "summary": "Creates a new Fees record on the Application.  Returns an error if the parent record is not found.  Returns warnings if any fields are not in the correct format.",
        "operationId": "ApplicationAccountProductsFees_PostObject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Applications.ApplicationAccountProductFee"
            }
          },
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicationAccountProductId",
            "in": "path",
            "description": "The Id of the AccountProducts record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Core.PublicApi.v1.Service.ApiSaveResult"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/accountproducts/fundings/{ApplicationAccountProductFundingId}": {
      "get": {
        "tags": [
          "ApplicationAccountProductsFundings"
        ],
        "summary": "Returns the details of the requested Fundings record on the Application.  Returns an error if the Fundings record is not found.",
        "operationId": "ApplicationAccountProductsFundings_GetObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicationAccountProductFundingId",
            "in": "path",
            "description": "The Id of the Fundings record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiApplicationAccountProductFundingResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ApplicationAccountProductsFundings"
        ],
        "summary": "Updates the details of an existing Fundings record on the Application.  Returns an error if the Fundings record is not found.  Returns warnings if any fields are not in the correct format.",
        "operationId": "ApplicationAccountProductsFundings_PutObject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Applications.ApplicationAccountProductFunding"
            }
          },
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicationAccountProductFundingId",
            "in": "path",
            "description": "The Id of the Fundings record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Core.PublicApi.v1.Service.ApiResult"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ApplicationAccountProductsFundings"
        ],
        "summary": "Deletes an existing Fundings record from the Application.  Returns an error if the Fundings record is not found.",
        "operationId": "ApplicationAccountProductsFundings_DeleteObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicationAccountProductFundingId",
            "in": "path",
            "description": "The Id of the Fundings record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Core.PublicApi.v1.Service.ApiResult"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/accountproducts/{ApplicationAccountProductId}/fundings": {
      "get": {
        "tags": [
          "ApplicationAccountProductsFundings"
        ],
        "summary": "Returns the details of all Fundings records on the Application.  Returns empty if no Fundings found.",
        "operationId": "ApplicationAccountProductsFundings_GetListObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicationAccountProductId",
            "in": "path",
            "description": "The Id of the AccountProducts record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiListApplicationAccountProductFundingResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "ApplicationAccountProductsFundings"
        ],
        "summary": "Creates a new Fundings record on the Application.  Returns an error if the parent record is not found.  Returns warnings if any fields are not in the correct format.",
        "operationId": "ApplicationAccountProductsFundings_PostObject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Applications.ApplicationAccountProductFunding"
            }
          },
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicationAccountProductId",
            "in": "path",
            "description": "The Id of the AccountProducts record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Core.PublicApi.v1.Service.ApiSaveResult"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/aggregates/{AggregateId}": {
      "get": {
        "tags": [
          "ApplicationAggregates"
        ],
        "summary": "Returns the details of the requested Aggregates record on the Application.  Returns an error if the Aggregates record is not found.",
        "operationId": "ApplicationAggregates_GetObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "AggregateId",
            "in": "path",
            "description": "The Id of the Aggregates record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiAggregateResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/aggregates": {
      "get": {
        "tags": [
          "ApplicationAggregates"
        ],
        "summary": "Returns the details of all Aggregates records on the Application.  Returns empty if no Aggregates found.",
        "operationId": "ApplicationAggregates_GetListObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiListAggregateResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/applicants": {
      "get": {
        "tags": [
          "ApplicationApplicants"
        ],
        "summary": "Returns the details of all Applicants records on the Application.  Returns empty if no Applicants found.",
        "operationId": "ApplicationApplicants_GetListObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiListApplicantResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "ApplicationApplicants"
        ],
        "summary": "Creates a new Applicants record on the Application.  Returns an error if the parent record is not found.  Returns warnings if any fields are not in the correct format.",
        "operationId": "ApplicationApplicants_PostObject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LMS.Origination.PublicAPI.Controllers.ApplicationApplicantsController.SaveApplicant"
            }
          },
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Core.PublicApi.v1.Service.ApiSaveResult"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/applicants/{ApplicantId}": {
      "get": {
        "tags": [
          "ApplicationApplicants"
        ],
        "summary": "Returns the details of the requested Applicants record on the Application.  Returns an error if the Applicants record is not found.",
        "operationId": "ApplicationApplicants_GetObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicantId",
            "in": "path",
            "description": "The Id of the Applicants record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiApplicantResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ApplicationApplicants"
        ],
        "summary": "Updates the details of an existing Applicants record on the Application.  Returns an error if the Applicants record is not found.  Returns warnings if any fields are not in the correct format.",
        "operationId": "ApplicationApplicants_PutObject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Applications.Applicant"
            }
          },
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicantId",
            "in": "path",
            "description": "The Id of the Applicants record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Core.PublicApi.v1.Service.ApiResult"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ApplicationApplicants"
        ],
        "summary": "Deletes an existing Applicants record from the Application.  Returns an error if the Applicants record is not found.",
        "operationId": "ApplicationApplicants_DeleteObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicantId",
            "in": "path",
            "description": "The Id of the Applicants record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Core.PublicApi.v1.Service.ApiResult"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/applicants/accountproductmappings/{ApplicationAccountProductApplicantId}": {
      "get": {
        "tags": [
          "ApplicationApplicantsAccountProductMappings"
        ],
        "summary": "Returns the details of the requested AccountProductMappings record on the Application.  Returns an error if the AccountProductMappings record is not found.",
        "operationId": "ApplicationApplicantsAccountProductMappings_GetObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicationAccountProductApplicantId",
            "in": "path",
            "description": "The Id of the AccountProductMappings record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiApplicationAccountProductApplicantResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/applicants/{ApplicantId}/accountproductmappings": {
      "get": {
        "tags": [
          "ApplicationApplicantsAccountProductMappings"
        ],
        "summary": "Returns the details of all AccountProductMappings records on the Application.  Returns empty if no AccountProductMappings found.",
        "operationId": "ApplicationApplicantsAccountProductMappings_GetListObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicantId",
            "in": "path",
            "description": "The Id of the Applicants record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiListApplicationAccountProductApplicantResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/applicants/addresses/{AddressId}": {
      "get": {
        "tags": [
          "ApplicationApplicantsAddresses"
        ],
        "summary": "Returns the details of the requested Addresses record on the Application.  Returns an error if the Addresses record is not found.",
        "operationId": "ApplicationApplicantsAddresses_GetObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "AddressId",
            "in": "path",
            "description": "The Id of the Addresses record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiAddressResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ApplicationApplicantsAddresses"
        ],
        "summary": "Updates the details of an existing Addresses record on the Application.  Returns an error if the Addresses record is not found.  Returns warnings if any fields are not in the correct format.",
        "operationId": "ApplicationApplicantsAddresses_PutObject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Applications.Address"
            }
          },
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "AddressId",
            "in": "path",
            "description": "The Id of the Addresses record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Core.PublicApi.v1.Service.ApiResult"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ApplicationApplicantsAddresses"
        ],
        "summary": "Deletes an existing Addresses record from the Application.  Returns an error if the Addresses record is not found.",
        "operationId": "ApplicationApplicantsAddresses_DeleteObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "AddressId",
            "in": "path",
            "description": "The Id of the Addresses record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Core.PublicApi.v1.Service.ApiResult"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/applicants/{ApplicantId}/addresses": {
      "get": {
        "tags": [
          "ApplicationApplicantsAddresses"
        ],
        "summary": "Returns the details of all Addresses records on the Application.  Returns empty if no Addresses found.",
        "operationId": "ApplicationApplicantsAddresses_GetListObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicantId",
            "in": "path",
            "description": "The Id of the Applicants record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiListAddressResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "ApplicationApplicantsAddresses"
        ],
        "summary": "Creates a new Addresses record on the Application.  Returns an error if the parent record is not found.  Returns warnings if any fields are not in the correct format.",
        "operationId": "ApplicationApplicantsAddresses_PostObject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Applications.Address"
            }
          },
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicantId",
            "in": "path",
            "description": "The Id of the Applicants record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Core.PublicApi.v1.Service.ApiSaveResult"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/applicants/aggregates/{AggregateId}": {
      "get": {
        "tags": [
          "ApplicationApplicantsAggregates"
        ],
        "summary": "Returns the details of the requested Aggregates record on the Application.  Returns an error if the Aggregates record is not found.",
        "operationId": "ApplicationApplicantsAggregates_GetObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "AggregateId",
            "in": "path",
            "description": "The Id of the Aggregates record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiAggregateResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/applicants/{ApplicantId}/aggregates": {
      "get": {
        "tags": [
          "ApplicationApplicantsAggregates"
        ],
        "summary": "Returns the details of all Aggregates records on the Application.  Returns empty if no Aggregates found.",
        "operationId": "ApplicationApplicantsAggregates_GetListObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicantId",
            "in": "path",
            "description": "The Id of the Applicants record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiListAggregateResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/applicants/applicantaccountnumbers/{ApplicantAccountNumberId}": {
      "get": {
        "tags": [
          "ApplicationApplicantsApplicantAccountNumbers"
        ],
        "summary": "Returns the details of the requested ApplicantAccountNumbers record on the Application.  Returns an error if the ApplicantAccountNumbers record is not found.",
        "operationId": "ApplicationApplicantsApplicantAccountNumbers_GetObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicantAccountNumberId",
            "in": "path",
            "description": "The Id of the ApplicantAccountNumbers record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiApplicantAccountNumberResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ApplicationApplicantsApplicantAccountNumbers"
        ],
        "summary": "Updates the details of an existing ApplicantAccountNumbers record on the Application.  Returns an error if the ApplicantAccountNumbers record is not found.  Returns warnings if any fields are not in the correct format.",
        "operationId": "ApplicationApplicantsApplicantAccountNumbers_PutObject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Applications.ApplicantAccountNumber"
            }
          },
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicantAccountNumberId",
            "in": "path",
            "description": "The Id of the ApplicantAccountNumbers record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Core.PublicApi.v1.Service.ApiResult"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ApplicationApplicantsApplicantAccountNumbers"
        ],
        "summary": "Deletes an existing ApplicantAccountNumbers record from the Application.  Returns an error if the ApplicantAccountNumbers record is not found.",
        "operationId": "ApplicationApplicantsApplicantAccountNumbers_DeleteObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicantAccountNumberId",
            "in": "path",
            "description": "The Id of the ApplicantAccountNumbers record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Core.PublicApi.v1.Service.ApiResult"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/applicants/{ApplicantId}/applicantaccountnumbers": {
      "get": {
        "tags": [
          "ApplicationApplicantsApplicantAccountNumbers"
        ],
        "summary": "Returns the details of all ApplicantAccountNumbers records on the Application.  Returns empty if no ApplicantAccountNumbers found.",
        "operationId": "ApplicationApplicantsApplicantAccountNumbers_GetListObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicantId",
            "in": "path",
            "description": "The Id of the Applicants record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiListApplicantAccountNumberResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "ApplicationApplicantsApplicantAccountNumbers"
        ],
        "summary": "Creates a new ApplicantAccountNumbers record on the Application.  Returns an error if the parent record is not found.  Returns warnings if any fields are not in the correct format.",
        "operationId": "ApplicationApplicantsApplicantAccountNumbers_PostObject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Applications.ApplicantAccountNumber"
            }
          },
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicantId",
            "in": "path",
            "description": "The Id of the Applicants record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Core.PublicApi.v1.Service.ApiSaveResult"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/applicants/{ApplicantId}/applicantfraudidentity": {
      "get": {
        "tags": [
          "ApplicationApplicantsApplicantFraudIdentity"
        ],
        "summary": "Returns the details of all ApplicantFraudIdentity records on the Application.  Returns empty if no ApplicantFraudIdentity found.",
        "operationId": "ApplicationApplicantsApplicantFraudIdentity_GetListObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicantId",
            "in": "path",
            "description": "The Id of the Applicants record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiListApplicantFraudIdentityResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "ApplicationApplicantsApplicantFraudIdentity"
        ],
        "summary": "Creates a new ApplicantFraudIdentity record on the Application.  Returns an error if the parent record is not found.  Returns warnings if any fields are not in the correct format.",
        "operationId": "ApplicationApplicantsApplicantFraudIdentity_PostObject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Applications.ApplicantFraudIdentity"
            }
          },
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicantId",
            "in": "path",
            "description": "The Id of the Applicants record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Core.PublicApi.v1.Service.ApiSaveResult"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/applicants/applicantfraudidentity/{ApplicantFraudIdentityId}": {
      "get": {
        "tags": [
          "ApplicationApplicantsApplicantFraudIdentity"
        ],
        "summary": "Returns the details of the requested ApplicantFraudIdentity record on the Application.  Returns an error if the ApplicantFraudIdentity record is not found.",
        "operationId": "ApplicationApplicantsApplicantFraudIdentity_GetObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicantFraudIdentityId",
            "in": "path",
            "description": "The Id of the ApplicantFraudIdentity record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiApplicantFraudIdentityResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ApplicationApplicantsApplicantFraudIdentity"
        ],
        "summary": "Updates the details of an existing ApplicantFraudIdentity record on the Application.  Returns an error if the ApplicantFraudIdentity record is not found.  Returns warnings if any fields are not in the correct format.",
        "operationId": "ApplicationApplicantsApplicantFraudIdentity_PutObject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Applications.ApplicantFraudIdentity"
            }
          },
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicantFraudIdentityId",
            "in": "path",
            "description": "The Id of the ApplicantFraudIdentity record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Core.PublicApi.v1.Service.ApiResult"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ApplicationApplicantsApplicantFraudIdentity"
        ],
        "summary": "Deletes an existing ApplicantFraudIdentity record from the Application.  Returns an error if the ApplicantFraudIdentity record is not found.",
        "operationId": "ApplicationApplicantsApplicantFraudIdentity_DeleteObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicantFraudIdentityId",
            "in": "path",
            "description": "The Id of the ApplicantFraudIdentity record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Core.PublicApi.v1.Service.ApiResult"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/applicants/assets/{AssetId}": {
      "get": {
        "tags": [
          "ApplicationApplicantsAssets"
        ],
        "summary": "Returns the details of the requested Assets record on the Application.  Returns an error if the Assets record is not found.",
        "operationId": "ApplicationApplicantsAssets_GetObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "AssetId",
            "in": "path",
            "description": "The Id of the Assets record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiAssetResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/applicants/{ApplicantId}/assets": {
      "get": {
        "tags": [
          "ApplicationApplicantsAssets"
        ],
        "summary": "Returns the details of all Assets records on the Application.  Returns empty if no Assets found.",
        "operationId": "ApplicationApplicantsAssets_GetListObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicantId",
            "in": "path",
            "description": "The Id of the Applicants record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiListAssetResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/applicants/assets/applicantassetmappings/{ApplicantAssetId}": {
      "get": {
        "tags": [
          "ApplicationApplicantsAssetsApplicantAssetMappings"
        ],
        "summary": "Returns the details of the requested ApplicantAssetMappings record on the Application.  Returns an error if the ApplicantAssetMappings record is not found.",
        "operationId": "ApplicationApplicantsAssetsApplicantAssetMappings_GetObject",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ApplicationIdentifier",
            "in": "path",
            "description": "The Id of the Application.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ApplicantAssetId",
            "in": "path",
            "description": "The Id of the ApplicantAssetMappings record.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "The authorization token received from the /login POST.  The format must be: \"Bearer &lt;token&gt;\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LMS.Lending.PublicApi.Data.DTO.v1.Service.ApiApplicantAssetResponse"
            }
          }
        }
      }
    },
    "/api/v{version}/application/{ApplicationIdentifier}/applicants/assets/{AssetId}/applicantassetmappings": {
      "get": {
[...]
